[submodule "vim/bundle/matchit"]
	path = vim/bundle/matchit
	url = git@github.com:tmhedberg/matchit.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = git@github.com:scrooloose/nerdcommenter.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule "vim/bundle/airline"]
	path = vim/bundle/airline
	url = git@github.com:bling/vim-airline.git
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = git@github.com:bling/vim-airline.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "vim/bundle/vim-repeat"]
	path = vim/bundle/vim-repeat
	url = git@github.com:tpope/vim-repeat.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "vim/bundle/vim-se-conventions"]
	path = vim/bundle/vim-se-conventions
	url = git@github.com:JRonhovde/vim-se-conventions.git
[submodule "vim/bundle/vim-unimpaired"]
	path = vim/bundle/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "vim/bundle/vim-json"]
	path = vim/bundle/vim-json
	url = git@github.com:elzr/vim-json.git
[submodule "vim/bundle/vim-commit-diff"]
	path = vim/bundle/vim-commit-diff
	url = git@github.com:JRonhovde/vim-commit-diff
[submodule "vim/bundle/vim-airline-themes"]
	path = vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "vim/bundle/vim-sycamore-crud"]
	path = vim/bundle/vim-sycamore-crud
	url = https://github.com/JRonhovde/vim-sycamore-crud
[submodule "vim/bundle/vim-bufonly"]
	path = vim/bundle/vim-bufonly
	url = git@github.com:vim-scripts/BufOnly.vim.git
[submodule "vim/bundle/vim-go"]
	path = vim/bundle/vim-go
	url = git@github.com:fatih/vim-go.git
[submodule "vim/bundle/puppet"]
	path = vim/bundle/puppet
	url = git@github.com:rodjek/vim-puppet.git
[submodule "vim/bundle/ack.vim"]
	path = vim/bundle/ack.vim
	url = git@github.com:mileszs/ack.vim.git
[submodule "vim/bundle/tender"]
	path = vim/bundle/tender
	url = git@github.com:jacoborus/tender.vim
[submodule "vim/bundle/Dockerfile"]
    path = vim/bundle/Dockerfile
    url = git@github.com:ekalinin/Dockerfile.vim.git
[submodule "vim/bundle/vim-jinja2-syntax"]
	path = vim/bundle/vim-jinja2-syntax
	url = git@github.com:Glench/Vim-Jinja2-Syntax.git
